{{ define "main" }}
<div id="layout" class="pure-g">
  <article class="pure-u-1">
    {{ partial "brand.html" . }}

<section class="section is-fullheight">
  {{ $type := .Type }}
  {{ $.Scratch.Set "count" 1 }}

    {{ range (.Site.RegularPages.GroupByDate "2006") }}
      {{ if and (gt .Key 1) (gt (where .Pages "Type" $type) 0) }}

        {{ range (where .Pages "Type" $type) }}
          {{ if (eq ($.Scratch.Get "count") 1) }}
            {{ $.Scratch.Set "count" 0 }}
            <h1 class="title is-4 has-text-weight-normal">{{ .Date.Format "2006" }}</h1>
          {{ end }}
        {{ end }}

        {{ $.Scratch.Set "count" 1 }}

          <ul class="article__list">
          {{ range (where .Pages "Type" $type) }}
            {{ if (ne .Params.hidden true) }}
              <li class="nopoints">
                <a class="is-block" href="{{ .RelPermalink }}" style="text-decoration: none;">
                  <span style="min-width:5rem;margin-left:1rem;font-weight:300;font-size: 1rem;text-transform: uppercase; text-color: #646f82;">{{ time.Format "2 Jan" .Date }}</span> : {{ .Title }}
                </a>
              </li>
            {{ end }}
          {{ end }}
          </ul>
          <hr class="min">
    {{ end }}
  {{ end }}
</section>
    {{ partial "footer-no-nav.html" . }}
  </article>
</div>
{{ end }}