{{ partial "header-single.html" . }}
<div class="article-meta">
	{{ with .Params.genre }}<div class="genre">{{ . }}</div>{{ end }}
	
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}

</div>

<main>
{{ .Content }}
</main>
<br>
{{ if (gt .Params.date 0) }}
	<div class="date-single">{{ .Date.Format "2.01.2006" }}</div>
{{ end }}
<div style="font-size: small;font-family: 'Montserrat', helvetica, arial, sans-serif; margin-top: -1em;">Permalink: <a href="{{ .RelPermalink }}">https://arveed.com{{ .RelPermalink }}</a></div>


{{ partial "footer.html" . }}
