/*

THIS IS THE TYPOGRAPHY

h1= Title
h2= 
h3= Chapter or Section title
h4= Subsection title
h5= reserved for later use
h6= publication credit

*/

:root {
  --primary-color: #fde567; /* yellow */
  --primary: #ccc;
  --secondary-color: #0081cb; /* blue */
  --dark-text: #000000;
  --medium-text: #212121;
  --light-text: #666666;
  --link-color: #406caf;
  --title-color: #111111;
  --gap: 24px;
  --code-bg: #e8eaf0;
  --border: #CCC;
  --radius: 5px;
}

body {
  background-color: rgb(244,245,245);
  max-width: calc(var(--main-width) + var(--gap) * 2);
  max-width: 43.75rem;
  margin: auto;
  padding: 1em;
  line-height: 1.6em;
  font-size: 18px;
  text-align: justify;
  font-weight: normal;
  color: var(--medium-text);
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  font-family: monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
      font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "kern";
      font-feature-settings: "kern";
      font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.date {
  color: var(--light-text);
  font-size: 1rem;
  padding-right: var(--gap);
}
.lihome {
  list-style-type: none ;
}

.genre {
  color: var(--light-text);
  margin-top: 4vw;
  margin-bottom: 1.2em;
/*  font-family: "Montserrat", helvetica, arial, sans-serif;*/
  font-size: .9em;
  text-align: left;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.date-single {
  color: var(--light-text);
/*  font-family: "Montserrat", helvetica, arial, sans-serif;*/
  font-size: .6em;
  text-align: left;
  letter-spacing: .1em;
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
  
  text-align: left;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  color: var(--title-color);
  font-size: 2.5em;
  line-height: 1em;
  letter-spacing: 0;
  text-align: left;
}

h1+p:first-letter {
  font-size: 3.3em;
  float: left;
  line-height: .6em;
  padding-top: .05em;
  padding-bottom: 0;
  padding-right: .07em;
}

footer {
/*  font-family: sans-serif;*/
  font-size: 0.7em;
  text-align: center;
}

footer a {
  text-decoration: none;
}

hr {
  color: #fefefe;
  width: 65%;
}

.footnotes {
  font-size: 0.8em;
  line-height: 1.2em;
}

pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}

code {
  background: #f9f9f9;
}

pre code {
  background: none;
}

.article-meta h1 {
  padding-top: 2rem;
}
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 24px 0 16px;
}

.post-content h1 {
    margin: 40px auto 32px;
    font-size: 40px;
}

.post-content h2 {
    margin: 32px auto 24px;
    font-size: 32px;
}

.post-content h3 {
    font-size: 24px;
}

.post-content h4 {
    font-size: 16px;
}

.post-content h5 {
    font-size: 14px;
}

.post-content h6 {
    font-size: 12px;
}

/* misc elements  */

img,
iframe,
video {
  max-width: 100%;
}
.ulhome {
  ext-align: center; 
  padding: 10px 40px; 
  list-style-type: none; 
  display: flex; 
  margin: 0 5em;
  align-items: center;
  justify-content: center; /* Centre horizontalement */
  align-items: center; 
}
main {
  hyphens: auto;
}

blockquote {
  background: transparent;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

a {
  text-decoration: none;
  color: #406caf;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
  background: #eee;
}

#arveedcom {
  text-align: center;
}

.post-meta {
  color: var(--light-text);
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post-tags li {
    display: inline-block;
}

.post-tags a,
.paginav {
    border-radius: var(--radius);
    background: #e8eaf0;
    border: 1px solid var(--border);
}

.post-tags a {
    display: block;
    padding: 0 14px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 24px;
}
.imagecenter {
  display: block;
  text-align: center;
}
/* ========= ARCHIVES ======== */
.archive-posts {
    width: 100%;
    font-size: 16px;
}

.archive-year {
    margin-top: 40px;
}

.archive-year:not(:last-of-type) {
    border-bottom: 2px solid var(--border);
}

.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.archive-month-header {
    margin: 25px 0;
    width: 200px;
}

.archive-month:not(:last-of-type) {
    border-bottom: 1px solid var(--border);
}

.archive-entry {
    position: relative;
    padding: 5px;
    margin: 10px 0;
}

.archive-entry-title {
    margin: 5px 0;
    font-weight: 400;
}

.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: 14px;
}
/*========= TOOTS =========*/
.toot-blockquote {
  line-height: 1.35em;
  font-family: sans-serif;
  font-size: 0.85em;
  border: 2px solid;
  border-radius: 12px;
  background: transparent;
  width: 75%;
  margin: 1.5rem auto;
  padding: 1rem;
}

.toot-header {
  display: flex;
}

.toot-header .toot-profile {
  flex-shrink: 0;
  margin-bottom: 1em;
  margin-right: 0.5em;
}

.toot-blockquote a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-decoration: none;
  border: none !important;
}

.toot-header .toot-author-name {
  font-weight: 700;
  font-size: var(--text-base);
  color: var(--black);
  line-height: 1.375;
}

.toot-header .toot-author-handle {
  color: darkgrey;
  font-weight: 400;
  font-size: small;
  line-height: 1;
}

.toot-header .toot-profile img {
  border-radius: 9999px;
  width: 48px;
  height: auto;
}

.toot-blockquote p {
  color: var(--default);
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.35em;
}

.toot-footer {
  color: grey;
  font-size: 0.8em;
  font-weight: 500;
  align-items: center;
  margin-top: 1rem;
  display: flex;
}
/* =============================*/
.legal {
  font-size: x-small;
}

.book {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: 1fr 0.75fr min-content 70px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.book > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book a,
.book a:visited {
  font-weight: 500;
}
.book a:hover {
  text-decoration: underline;
}
/* ==== Dark mode following user preferences ==== */
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(40, 44, 53, 1);
    color: rgb(226, 226, 226, 1);
    .brand h1, .article-meta h1, h1 {color: rgb(226, 226, 226, 1);}
    #hamburger-input:checked ~ #menu {
      background: rgb(40, 44, 53, 1);}

  }
  .post-tags a {color: #939398; background: #414858; border: 1px solid #22262e}
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}
 
.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}



#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#hamburger-input {
    display: none;
}

#hamburger-menu {
    display: none;
    width: 18px;
    height: 18px;
    margin: auto;
    margin-right: 13px;
    margin-left: 13px;
    background: linear-gradient(
        var(--primary), var(--primary) 20%, 
        #ffffff00 20%, #ffffff00 40%, 
        var(--primary) 40%, var(--primary) 60%, 
        #ffffff00 60%, #ffffff00 80%, 
        var(--primary) 80%, var(--primary) 100%
      );
    z-index: 10001;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    #menu {
        display: none;
    }

    #hamburger-menu {
        display: inline;
    }

    #hamburger-input:checked ~  #hamburger-menu {
        background: none;
    }

    #hamburger-input:checked ~ #hamburger-menu:after {
        content: "\00d7";
        position: fixed;
        font-size: 28px;
        line-height: 0;
        top: 28px;
    }

    #hamburger-input:checked ~ .overlay {
        visibility: visible;
    }

    #hamburger-input:checked ~ #menu {
        display: block;
        width: 80%;
        margin: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 10002;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: rgb(244,245,245);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
              0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #menu li {
        text-align: center;
    }

    #menu li + li {
        margin-inline-start: 0;
    }

    .ulhome {
      display: inline-block;
      text-align: left; 
      padding: 10px 20px; 
      list-style-type: none; 
      
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    background: var(--theme);
    z-index: 10000;
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

}
