html, button, input, select, textarea, p, nav, section, article, header, .pure-g [class *= "pure-u"] {
    font-family: Georgia, times new roman, Times, serif;
}
footer, footer.copyright p {
    font-family: sans-serif;
}
a>img {
    text-decoration: none;
}
// TYPOGRAPHY 
// Font sizes and spacing 
code {
    font-size: 1.125rem;
    line-height: 1.6;
}

pre code {
    font-size: 1.2rem;
}
.toc summary {
    font-size: 1.2rem;
}
#TableOfContents {
    padding-top: 1rem;
    padding-left: 1rem;
}
footer.page-footer p {
    font-size: 1.2rem;
    margin: 0em;
}
h1 { font-weight: 700;
     margin-top: 3rem;
     margin-bottom: 0.5rem;
     font-size: 3rem;

     line-height: 1; }
h1.content-title {
    max-width: 55%;
    font-size: 2.8rem;
    font-style: normal;
}
h2 { font-style: normal;
     font-weight: 700;
     margin-top: 2.1rem;
     margin-bottom: 0;
     font-size: 1.8rem;
     line-height: 1; }

h3 { font-style: normal;
     font-weight: 700;
     font-size: 1.4568rem;
     margin-top: 2rem;
     margin-bottom: 0;
     line-height: 1; }
h4 {
    font-family: sans-serif;
}
.ALLARTICLES {
    display: block;
    max-width: 50%;
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    font-weight: 400;

}
p.subtitle { font-size: 1.54284rem;
             line-height: 1; 
             font-style: italic;}

#the_core>p:first-of-type:first-letter {
float: left;
font-size: 115px;
font-family: var(--font-sans);
padding-top: 3px;
padding-right: 3px;
line-height: 77px;
-webkit-font-smoothing: subpixel-antialiased;
font-style: normal;
font-weight: bold;
}

.content-meta {
    opacity: 0.3;
    transition: opacity .5s;
}
.content-meta:hover {
    opacity: 1;
}
p, ol, ul { font-size: 1.333333rem; 
    line-height: 1.8rem;
    font-weight: 400;
}

p { 
    line-height: 2rem; 
    text-align: left;
}

.content-meta {
    font-size: 1rem;
    font-family: "et-book", serif;
}


blockquote { font-size: 1.2rem; 
    font-style: italic;
    border-left: 2px solid #ccc;
    padding-left: 2rem;
}
blockquote footer { font-size: 1.1rem; }
figcaption { font-size: 0.8rem;
             line-height: 1.6; }

.min {
    border: 0.5px solid grey;
    width: 87.5%;
    max-width: 39rem;
    margin: 0 0 0 3rem;
    opacity: 0.15;
}

.nopoints {
    list-style-type: none;
}

ul.article__list {
    margin-top: 0;
}

.archiveYear {
    margin: 0;
}
.excerpts {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: -1.7rem;
}
.formhome {
    display: block;
    max-width: 45rem;
}
.frontthumbnail {
    float: left;
    margin: 0 1rem 0 -3rem;
    border-radius: 5px;
    border: 1px solid #efefef;
    background-color: #efefef !important;
    height: 6.6666667rem;
    min-width: 10rem;

}

//.sidenote, .marginnote { font-size: 0.8rem;
//                         line-height: 1.3; }

.table-caption { font-size: 1.0rem;
                 line-height: 1.6; }
.sidenote-number:after { font-size: 1rem; }
.code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 1.125rem;
        line-height: 1.6; }

h1 .code, h2 .code, h3 .code { font-size: 0.80em; }

.marginnote .code, .sidenote .code { font-size: 1rem; }

.smalldate {
    font-size: 1rem;
}
.marginfigure {
    margin: 0;
    padding: 0;
}

.copyright p {
    line-height: 1rem;
    padding-top: 1rem;
}

.previous-post, .next-post {
    font-size: 1.1rem;
}

/* https://css-tricks.com/full-width-containers-limited-width-parents/#no-calc-needed */
/* Full alignment */
.alignfull {
  width: 97.5vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 32px -56vw;
  padding-left: 1%;
  padding-right: 1%; 
}

/* Wide alignment */
.alignwide {
  width: 63.36vw;
  position: unset;
  left: 50%;
  right: 50%;
  margin: 32px -5vw;
}