@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Crimson Pro';
    src: url('../fonts/CrimsonPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/*

THIS IS THE TYPOGRAPHY

h1= Title
h2= 
h3= Chapter or Section title
h4= Subsection title
h5= reserved for later use
h6= publication credit

*/

:root {
  --primary-color: #fde567; /* yellow */
  --secondary-color: #0081cb; /* blue */
  --dark-text: #000000;
  --medium-text: #212121;
  --light-text: #666666;
  --link-color: #406caf;
  --title-color: #111111;
}

body {
  max-width: 43.75rem;
  margin: auto;
  padding: 1em;
  line-height: 1.4em;
  font-size: 1.4em;
  text-align: justify;
  font-weight: normal;
  color: var(--medium-text);
  font-family: "Crimson Pro", serif;
  letterspacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
      font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "kern";
      font-feature-settings: "kern";
      font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.genre {
  color: var(--light-text);
  margin-top: 9vw;
  margin-bottom: 1.2em;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: .9em;
  text-align: left;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.date-single {
  color: var(--light-text);
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: .6em;
  text-align: left;
  letter-spacing: .1em;
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Crimson Pro", serif;
  text-align: left;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  color: var(--title-color);
  font-size: 2.5em;
  line-height: 1em;
  letter-spacing: 0;
  text-align: left;
}

h1+p:first-letter {
  font-size: 3.3em;
  float: left;
  line-height: .6em;
  padding-top: .05em;
  padding-bottom: 0;
  padding-right: .07em;
}

.menu {
  padding: 0;
}

.menu li {
  display: inline-block;
}

.article-meta,
.menu a {
  text-decoration: none;
  padding: 0px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: sans-serif;
  font-size: 0.7em;
}
.menu a {
  padding: 0.625rem;
}
.menu,
.article-meta,
footer {
  text-align: center;
}

.title {
  text-transform: capitalize;
}

nav {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-top: 1em;
}

footer {
  font-family: sans-serif;
  font-size: 0.7em;
}

footer a {
  text-decoration: none;
}

hr {
  color: #fefefe;
  width: 65%;
}

.footnotes {
  font-size: 0.8em;
  line-height: 1.2em;
}

pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}

code {
  background: #f9f9f9;
}

pre code {
  background: none;
}

/* misc elements  */

img,
iframe,
video {
  max-width: 100%;
}

main {
  hyphens: auto;
}

blockquote {
  background: transparent;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

a {
  text-decoration: none;
  color: #406caf;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
  background: #eee;
}

#arveedcom {
  text-align: center;
}

#identite {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Centre horizontalement */
  align-items: center;
  /* Centre verticalement */
}

.brand {
  display: flex;
  align-items: center;
}

.brand svg {
  width: 69px;
  /* ou une autre taille selon vos besoins */
  height: auto;
}

.brand h1 {
  margin-left: 20px;
  /* Espacement entre le logo et le titre */
  font-size: 2.4em;
  /* Taille du texte */
  font-family: Georgia, Times, serif;
  font-weight: 900;
}

.toot-blockquote {
  line-height: 1.35em;
  font-family: sans-serif;
  font-size: 0.85em;
  border: 2px solid;
  border-radius: 12px;
  background: transparent;
  width: 75%;
  margin: 1.5rem auto;
  padding: 1rem;
}

.toot-header {
  display: flex;
}

.toot-header .toot-profile {
  flex-shrink: 0;
  margin-bottom: 1em;
  margin-right: 0.5em;
}

.toot-blockquote a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-decoration: none;
  border: none !important;
}

.toot-header .toot-author-name {
  font-weight: 700;
  font-size: var(--text-base);
  color: var(--black);
  line-height: 1.375;
}

.toot-header .toot-author-handle {
  color: darkgrey;
  font-weight: 400;
  font-size: small;
  line-height: 1;
}

.toot-header .toot-profile img {
  border-radius: 9999px;
  width: 48px;
  height: auto;
}

.toot-blockquote p {
  color: var(--default);
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.35em;
}

.toot-footer {
  color: grey;
  font-size: 0.8em;
  font-weight: 500;
  align-items: center;
  margin-top: 1rem;
  display: flex;
}

.legal {
  font-size: x-small;
}

.book {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: 1fr 0.75fr min-content 70px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.book > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book a,
.book a:visited {
  font-weight: 500;
}
.book a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(40, 44, 53, 1);
    color: rgb(226, 226, 226, 1);
  }
}

