<p>
      Hello ! <b>Arveed point com</b> est un blog de <b>Cyril Vallée.</b> (Moi, donc.)
</p>
<p>
      Je suis <a href="https://www.cyrilvallee.com">romancier</a> et <a href="https://www.h-fr.ch/nos-formations/centre-de-formation-des-soins">technopédagogue</a>.<br>
      Je suis l'auteur de romans de genres : <a href="https://www.cyrilvallee.com/totem-un-thriller/">thrillers</a>, <a href="https://www.cyrilvallee.com/le-reflet-des-etoiles/">science-fiction</a> et <a href="https://www.cyrilvallee.com/timeskippers/">fantastique</a>.
</p>
<p>
      Si vous voulez en savoir plus, visitez mon <a href="https://www.cyrilvallee.com/">site officiel</a>. Vous y trouverez aussi un lien pour vous abonner à ma newsletter. En prime, vous aurez droit à des histoires gratuites (qui n'aime pas les cadeaux ?)
</p>   
<hr class="min">
<h2>
      Articles et essais populaires
</h2>
<ul>
{{ range .Site.RegularPages }}
    {{ if not .Params.notfrontpage }}
      {{ if .Params.popular }}
            <li class="nopoints">
              <a href="{{ .RelPermalink }}" style="text-decoration: none;">
              {{ if .Params.thumbnail }}
                <img class="frontthumbnail" src="{{ .Params.thumbnail }}" alt="">
              {{ end }}
              <span><h4>{{ .Title }}</h4></a></span><div class="excerpts">{{ .Summary }}</div></span></li>      
      {{ end }}
    {{ end }}
  {{ end  }}
</ul>
<hr class="min">