{{ partial "header.html" . }} {{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}
<div class="flex">
  <div class="w100">
    <div class="meta w20"></div>
    <div class="w80"><div></div></div>
    <div class="entry w80">
      <div class="measure-wide">{{ .Content }}</div>
      <ul>
        {{ $pages := .Pages }} {{ if .IsHome }}{{ $pages = .Site.RegularPages
        }}{{ end }} {{ range (where $pages "Section" "articles") | first 10 }}
        <li class="lihome">
          <span class="date">{{ .Date.Format "2006-01-02" }}</span>
          <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </li>
        {{ end }}
      </ul>
      <p style="text-align: center">
        <a href="archives/">>> Tous les articles (fr) >></a>
      </p>
    </div>
  </div>
</div>
{{ partial "footer.html" }}
